<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Completed Form</title>
  </head>
  <body>
    <ul>
      {{#data}}
      <li>
        {{name}}
        {{#source}}
        {{.}}
        {{/source}}
        {{issue}}
        {{print}}
        {{volume}}
        {{writer}}
        {{artist}}
        {{#characters}}
        {{.}}
        {{/characters}}
        {{grade}}
        {{checker}}
        {{comments}}
        {{#signatures}} Signatures: {{.}}
        {{/signatures}}
      </li>
      {{/data}}
    </ul>
  </body>
</html>
