<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Completed Form</title>
  <link rel="stylesheet" href="main.css" >
</head>
<body>
  <header>
    <h1>This is the header</h1>
  </header>
  <ul>
    {{#data}}
    <li>
      <a href="/edit">Click Here to Edit</a>
      <span class="main">Comic Book Name:</span> {{name}}
      <br />
      {{#version}}
      Issue Number: {{issue}} <br />
      Print Date: {{print}} <br />
      Volume Number: {{volume}} <br />
      Writer: {{writer}} <br />
      Artist: {{artist}} <br /> <br />
      {{/version}}
      <span class="main">Grading Results</span> <br /> <br />
      {{#gradient}}
      Grade: {{grade}}<br />
      Reviewer: {{checker}}<br />
      Comments: {{comments}} <br />
      {{#signatures}}
      Signatures: {{artist}}, {{writer}}
      {{/signatures}}
      {{/gradient}}
    </li>
    {{/data}}
  </ul>
</body>
</html>
